// ZoomBounce
@keyframes zoombounce {
    50% {
        transform: scale(1.01,1.01);
    }
    100% {
        transform: scale(1,1);
    }
}
@-webkit-keyframes zoombounce {
    50% {
        -webkit-transform: scale(1.01,1.01);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}

// FadeIn
@keyframes fadeIn {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}