.best-deal {
    margin-top: $spacer*5;
    margin-bottom: $spacer*3;
    padding: $spacer;

    .best-features a img {
        transition: all ease .75s;
    }

    .best-features a:hover img {
        -webkit-animation: zoombounce .75s;
        animation: zoombounce .75s;
        box-shadow: $box-shadow-hover;
    }
    @include media-breakpoint-down(sm) {
       .best-features {
           &> div,
           .row > div {
               margin-bottom: 1rem;
            }
       }
    }
}

.best-tabs,
.news-product-list {
    margin-top: 2rem;
    @extend .horizontal-carousel;
    .card {
        font-size: 12px;
        font-weight: 300;
        padding: 0;
        box-shadow: none;
        transition: all ease .8s;
        margin-bottom: 3rem;

        &:hover {
            border-color: $primary !important;
            box-shadow: $box-shadow-hover;

            @media (min-width: 992px) {

                .thumb-product-img,
                .best-label {
                    display: none !important;
                }
            }

            .card-body {
                animation: zoombounce .8s;

                .info {
                    display: flex !important;
                }
            }

            .card-footer {
                animation: zoombounce .8s;

                &.card-btn {
                    animation: zoombounce .8s;
                    display: block !important;
                }
            }
        }

        .best-label {
            padding: .5rem 1rem .55rem 1.5rem;
            background: $blue;
            color: $white;
            position: absolute;
            right: 0;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 50px;
        }

        .card-body {
            padding-left: 1rem;
            padding-right: 1rem;

            .rating {
                i {
                    color: $yellow;
                }

                i.disabled {
                    color: $gray-500
                }
            }

            .promo {
                span {
                    color: $gray-600
                }

                h6 {
                    font-weight: bold;
                    color: $primary;
                }
            }
        }

        .card-footer {
            background-color: transparent;

            span {
                color: $gray-600
            }
        }
    }
}

.why-choose {
    margin-top: $spacer*3;
    margin-bottom: $spacer*3;

    .card-features {
        margin-top: $spacer;
        margin-bottom: $spacer;

        img {
            height: 80px;
        }
    }
}

.seen {
    background-color: $gray-100;
    padding: $spacer*3 $spacer;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;

    img {
        height: 54px;
        margin: 1.5rem 1rem;
        transition: all ease .8s;
        filter: grayscale(1);

        &:hover {
            filter: none;
        }
    }
}

.need-help {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.search-result,
.product-detail {
    table {
        tbody {

            td,
            th {
                img {
                    width: 128px;
                    @include media-breakpoint-down(sm) {
                        width: 48px;
                    }
                }
            }
        }

        &.credit {
            button.collapsed .hide {
                display: none;
            }

            button.collapsed .show {
                display: inline;
            }

            button .hide {
                display: inline;
            }

            button .show {
                display: none;
            }
        }
    }

    .plus-min {
        background-color: $gray-100;
        padding: $spacer*3 $spacer;

        ul {
            li {
                margin-bottom: 1rem;
                list-style-type: none;

                &:before {
                    content: "\f1f7";
                    /* Ionicons Unicode */
                    font-family: "Ionicons";
                    display: inline-block;
                    margin-left: -1.3em;
                    /* same as padding-left set on li */
                    width: 1.3em;
                    /* same as padding-left set on li */
                }
            }
        }
    }
}

.product-detail {
    .product-detail-content {
        .product-thumb {
            border: 0;

            img {
                width: 100%
            }

            td {
                padding: 0 .3rem .6rem .3rem;
                @include media-breakpoint-down(sm) {
                    padding: 0;
                }
            }
        }

        .review-list {
            img {
                width: 54px;
            }
        }
    }
}

.testi-header,
.dealer-header,
.sales-header {
    width: 100%;
    padding: 8rem 0;
    background-size: cover !important;

}

.testi-info {
    img {
        height: 80px
    }
}

.testi-list {
    background-color: $gray-100;
    padding: 5rem 0;

    .testi-img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        overflow: hidden;

        img {
            width: 100px !important;
        }
    }

    .owl-item {
        filter: grayscale(.95);
        opacity: .5;

        .media-body {
            display: none;
        }

        &.active {
            width: 100px !important;
            opacity: .5;
            filter: grayscale(.95);
        }

        &.active.center {
            width: 500px !important;
            margin-right: 5rem !important;
            margin-left: -110px;
            opacity: 1;

            .testi-img {
                margin-right: 1rem;
            }

            filter: grayscale(0);

            .media-body {
                display: block;
            }
        }
    }

    .owl-nav {
        button {
            width: 28px;
            height: 28px;
            background-color: $gray-600 !important;
            color: $white !important;
            border-radius: 14px !important;
            font-size: 18px !important;
            line-height: 18px !important;
            margin-top: 2rem !important;

            &:hover {
                background-color: $gray-700 !important;
            }
        }
    }
}

.dealer-list {
    .card {
        max-height: 200px;
        min-height: 200px;
        margin-bottom: 2rem;
        overflow: hidden;
        padding: 0;
        transition: all ease .5s;

        a {
            padding: 1rem;
            line-height: calc(200px - 32px);
            text-align: center;

            img {
                width: 128px;
                height: auto;
            }
        }

        &:hover {
            box-shadow: $box-shadow-hover !important;
        }
    }
}

.sales-list {
    .card {
        text-align: center;
        min-height: 230px;
        max-height: 230px;
        margin-bottom: 2rem;
        padding: 0;
        transition: all ease .5s;

        a {
            padding: 1rem;

            .photo {
                width: 90px;
                height: 90px;
                border-radius: 45px;
                overflow: hidden;

                img {
                    width: 90px
                }
            }
        }

        &:hover {
            box-shadow: $box-shadow-hover !important;
        }
    }
}

.news {
    .news-product-list {
        .card {
            &:hover {
                @media (min-width: 992px) {
    
                    .thumb-product-img,
                    .best-label {
                        display: block !important;
                    }
                }
    
                .card-body {
                    animation: none;
    
                    .info {
                        display: flex !important;
                    }
                }
    
                .card-footer {
                    animation: none;
    
                    &.card-btn {
                        animation: none;
                        display: block !important;
                    }
                }
            }
        }
    }

    .news-list {
        a {
            border-radius: .25rem;
            transition: all ease .5s;

            &:hover,
            &:hover li {
                color: inherit;
                background-color: $gray-100;
            }
        }

        img {
            width: 250px;
            border-radius: .25rem;
        }
    }

    .archived {
        a {
            border-radius: .25rem;
            transition: all ease .5s;

            &:hover,
            &:hover li {
                color: inherit;
                background-color: $gray-100;
            }
        }
    }

    .share {
        margin-top: -.5rem;
        i {
            font-size: 1.5rem;
            vertical-align: middle;
            margin-right:.25rem
        }
    }

    .news-main-focus {
        margin: 1.5rem;
        padding: 1rem;
        background-color: $gray-100;
        color: $gray-600;
        border-left: 3px solid $blue
    }
}

.news-features-side,
.news-features,
.news-related-carousel {
    .card {
        .card-body {
            position: absolute;
            bottom: 0;
            height: 100%;
            padding: 0;
            width: 100%;

            .card-body-bottom,
            .card-body-top {
                padding: .75rem 1rem;
                position: absolute;
                color: #fff;
                width: 100%;
            }

            .card-body-top {
                top: 0;
                background-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
            }

            .card-body-bottom {
                bottom: 0;
                background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.8));
            }
        }
    }

    @media (min-width:992px) {

        h5,
        span {
            font-size: 90%
        }
    }
}

.news-related {
    background-color: $gray-100;
    @extend .horizontal-carousel;
}

.compare {
    min-height: calc(100vh - 250px);
    label {margin-bottom: .5rem;}
    .img-full-compare {
        height: 200px;
    }
    table {
        small {color:$secondary}
        &.table-striped {
            th, td {
                &:nth-child(1) {
                    font-weight: 300;
                    text-align: right;
                    width: calc(100% / 12 * 5);
                    color: $secondary;
                }
                &:nth-child(2) {
                    font-weight: bold;
                    text-align: center;
                }
                &:nth-child(3) {
                    color: $secondary;
                }
            }
        }
    }
}
.img-compare {
    width: 90px;
}

.login {
    width:100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $gray-100;
    .card {
        .card-img-top {
            width: 200px;
            margin-top: -116px;
            margin-bottom: 48px;
        }
        .login-google {
            .btn {
                img {
                    height: 16px;
                }
                i {
                    font-size: 20px;
                    line-height: 16px;
                }
            }
        }
        .input-verifikasi {
            input {
                font-size: 16px;
                font-weight: bold;
            }
        }
        .footer {
            position: absolute;
            width: 100%;
            bottom: -65px;
            margin-bottom: 24px;
        }
    }
}

.nav-user {
    .btn:focus, .btn.focus {
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.user-dashboard {
    .img-box {
        width: 72px;
        height: 72px;
        overflow: hidden;
        border-radius: 36px;
        img {
            width: 72px;
            min-height: 72px;
        }
    }
    .card {
        margin-bottom: 1rem;
        border-radius: 6px !important;
        .card-title {
            img {
                height: 28px;
                margin-top: -.5rem;
            }
            
        }

        .card-body {
            .logo-bank {
                height: 32px;
            }
        }
    }
    .tab-content {
        .img-box {
            width: 54px;
            height: 54px;
            border-radius: 30px;
            img {
                width: 54px;
                min-height: 54px;
            }
        }
    }

    ul.timeline {
        list-style-type: none;
        position: relative;
        margin-top: -20px; 
        &:before {
          content: ' ';
          background: $success;
          display: inline-block;
          position: absolute;
          left: 29px;
          width: 2px;
          height: 100%;
          z-index: 400;
        }
        > li {
          margin: 30px 0;
          padding-left: 20px;
          &:before {
            font-family: "Ionicons";
            content: "\f3ff";
            background: $success;
            color: $white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid $success;
            left: 20px;
            width: 20px;
            height: 20px;
            z-index: 400;
            line-height: 16px;
            text-align: center;
          }
          &.timeline-progress:before {
                content: " " !important;
                background: #ffffff !important;
            }
        }
    }
}