footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 14px;
    font-weight: 300;
    background-color: $white;
    h5 {margin-bottom: $spacer}
    .list-group-item {
        border: 0;
        padding: .5rem 0;
    }
    li {
        transition: all ease .5s;
    }
    li:hover {
        color: $primary;
        .facebook {
            color: $facebook;
        }
        .twitter {
            color: $twitter;
        }
        .instagram {
            color: $instagram;
        }
        .youtube {
            color: $youtube;
        }
        .linkedin {
            color: $linkedin;
        }
    }
    i {
        font-size: 1.5rem;
        vertical-align: middle;
        margin-right: .25rem;
        &.ion-logo-facebook {
            color: $facebook;
        }
        &.ion-logo-twitter {
            color: $twitter;
        }
        &.ion-logo-instagram {
            color: $instagram;
        }
        &.ion-logo-youtube {
            font-size: 1.25rem;
            color: $youtube;
        }
        &.ion-logo-linkedin {
            color: $linkedin;
        }
    }
    @media (min-width:768px) and (max-width: 992px) {
        .row > div {
            width: 50%;
            max-width: none;
            flex: auto;
        }
    }
}