.custom-file-label::after {
    height: calc(1.75em + .75rem);
    padding: .5rem 1rem;
}

input,
select ,
.form-control,
.custom-file-input,
.custom-file-label{
    font-size: 14px;
    box-shadow: none !important;
    &:focus, &:active {
        box-shadow: none !important;
    }
}

.custom-radio {
    padding-left: 0;
    .custom-control-label {
        margin-bottom: .5rem;
        padding: .594rem 1rem;
        border: 1px solid $gray-300;
        width: 100%;
        border-radius: 4px;
        padding-left: 2.75rem;
        cursor: pointer;
        &::after,
        &::before {
            top: .75rem;
            left: 1rem;
        }
        &:focus,
        &:hover {
            border: 1px solid $primary;
            background-color: transparentize($color: $primary, $amount: .95);
        }
    }
}