*:focus,
*:hover {
    text-decoration: none !important;
    outline: none !important;
}

strong {color: $primary}

a {
    color: $gray-800
}

.btn-rounded {
    border-radius: 1.5rem;        
}

p {
    font-size: 14px;
    font-weight: 300;
}

.accordion {
    .card {
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        margin-bottom: .5rem;
        .card-header {
            padding: 0;
            border-bottom: none;
            .btn {
                padding: 1rem 1.5rem;
                width: 100%;
                text-align: left;
                text-transform: uppercase;
            }
        }
    }
}

.btn-secondary {
    color: $white;
}

@each $color, $value in $theme-colors {
    .btn-flat-#{$color},
    .btn-flat-#{$color}:hover,
    .btn-flat-#{$color}:not(:disabled):not(.disabled):active,
    .btn-flat-#{$color}:not(:disabled):not(.disabled):active:focus,
    .btn-flat-#{$color}:focus {
      box-shadow: none;
      outline: none;
      
    }
}
@each $color, $value in $theme-colors {
    .btn-#{$color},
    .btn-#{$color}:hover,
    .btn-#{$color}:not(:disabled):not(.disabled):active,
    .btn-#{$color}:not(:disabled):not(.disabled):active:focus,
    .btn-#{$color}:focus {
      box-shadow: none;
      outline: none;
    }
}

.tooltip {
    z-index: 999;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    border-right-color: $primary;
}
.tooltip-inner {
    background-color: $primary;
    text-align: left;
}

.breadcrumb {
    background-color: transparent;
    padding: 1rem 0;
    border-bottom: 1px solid $gray-300;
    border-radius: 0;
    .breadcrumb-item{
        line-height: 38px;
        font-weight: 300;
        font-size: 14px;
    }
    .breadcrumb-item+.breadcrumb-item::before {
        font-family: "Ionicons";
        display: inline-block;
        padding-right: .5rem;
        color: #6c757d;
        content: "\f3d1";
    }
}

.form-group {
    label {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 0;
        color: $gray-800;
    }
}

.horizontal-carousel {
    .owl-carousel {
        .owl-nav {
            position: absolute;
            top: 35%;
            width: 100%;

            .owl-prev,
            .owl-next {
                width: 36px;
                height: 36px;
                font-size: 1.5rem;
                border-radius: 50%;
                line-height: 36px;
                background-color: $primary;
                color: $white;
                text-align: center;
            }

            .owl-prev {
                float: left;
                margin-left: -30px;
            }

            .owl-next {
                float: right;
                margin-right: -30px;
            }
        }
    }
}

i.icon {
    &.large {
        font-size: 1rem * 1.5;
    }
}

.line-height {line-height: 45px}

.modal-open .select2-container {
    z-index: 100 !important;
}

.progress {
    margin-left: 1.5rem;
    margin-right: 5rem;
    border-radius: 5px;
    height: 10px;
    max-width: 75%;
    .progress-bar {
        border-radius: 5px;
    }
    span {
        margin-left: -1.5rem;
        position: absolute;
        line-height: 10px;
        font-weight: bold;
    }
    label {
        position: absolute;
        line-height: 10px;
        font-weight: bold;
        right: 16px;
    }
}

.rating {
    i {color: $yellow;}
    i.disabled {color: $gray-500}    
    &.large {
        font-size: 1rem;
    }                
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: $success !important;
    border-color: $success !important;
}
.swal2-icon.swal2-success {
    border-color: $success !important;
    .swal2-success-ring {
        border-color: transparentize($color: $success, $amount: .7) !important;
    }
    [class^=swal2-success-line][class$=tip],
    [class^=swal2-success-line][class$=long] {
        background-color: $success !important;
    }
}

small, .small {
    font-size: 90%;
}

.tags {
    i {
        line-height: 0;
        vertical-align: middle;
        color: $primary;
    }
}

.text-facebook {
    color : $facebook
}
.text-twitter {
    color : $twitter
}
.text-instagram {
    color : $instagram
}
.text-youtube {
    color : $youtube
}
.text-linkedin {
    color : $linkedin
}
.text-whatsapp {
    color : $whatsapp
}