.home-filter {
    margin-top: -5rem;
    margin-bottom: 3rem;
    position: relative;
    z-index: 1;

    label {
        margin-bottom: .25rem;
        font-size: 14px;
        font-weight: 200;
    }

    .min-range, .max-range {
        font-size: 12px;
    }

    .select2-container--default {
        width: 100% !important;
    }

    .irs--round {
        margin-top: -1rem;
        .irs-bar,
        .irs-handle,
        .irs-from,
        .irs-to,
        .irs-single,
        .irs-handle {
            background-color: $primary !important;
            border-color: $primary !important;
            cursor: pointer;
            &:hover {
                background-color: $primary !important; 
            }
            &:before {
                border-top-color: $primary !important;
            }
        }
    }

    @include media-breakpoint-down(md) {
        margin-top: -1rem
    }
}