.modal-buy,
.modal-review {
    .modal-content {
        font-weight: 300;
        .close {
            position: absolute;
            top: .75rem;
            right: 1rem;
            z-index: 99;
            i {font-size: 2rem}
        }
        .modal-body {
            .photo {
                width:128px;
                height: 128px;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 0 0 0 5px transparentize($color: $red, $amount: .9);
                img {
                    width: 128px
                }
            }
            h5 {
                font-weight: bold;
                margin-top: .5rem;
                margin-bottom: 0;
            }
            p {margin-bottom: .25rem}
            .rating {font-size: 22px}
            li.nav-item {
                &:nth-child(1) {
                    .nav-link {
                        &:before {
                            content: "";
                        }
                    }
                }
                .nav-link {
                    border-bottom:none !important;
                    color: $gray-600;
                    &:before {
                        content: "-----";
                        color: $success;
                        letter-spacing: -2px;
                    }
                    .ion-ios-checkmark-circle-outline:before {
                        content: "\f149";
                    }
                    &.active {
                        color: $gray-600;
                        .ion-ios-checkmark-circle-outline:before {
                            content: "\f14a";
                        }
                    }
                    i {
                        font-size: 2rem;
                        vertical-align: middle;
                        color: $success;
                    }
                }
            }

            .tab-pane-content {
                margin-bottom: 1rem;
                padding: 1rem;
            }
            small {
                color: $gray-600;
                margin-bottom: .25rem;
            }
            .bike-color {
                height: 30px;
                width: 30px;
                border-radius: 3px;
                margin-right: .3rem;
                box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
                i {display: none}
                &.blue {
                    background-color: #31B4F5;
                }
                &.red {
                    background-color: #D73549;
                }
                &.black {
                    background-color: #31343C;
                }
                &.active {
                    i {
                        margin-top: -18px;
                        margin-left: 5px;
                        font-size: 1rem;
                        display: block;
                        width: 16px;
                        height: 16px;
                        line-height: 17px;
                        background-color: $white;
                        border-radius: 50%;
                    }
                }
            }
            .bike-img-group{
                img {
                    height: 256px;
                }
            }
            .info-leasing {
                img{
                    margin-top: .25rem;
                    height: 32px;
                }
            }
            .attention {
                padding: 1rem;
                background-color: $gray-100;
                border-radius: 4px;
            }
        }
    }
}

.modal-buy {
    .modal-footer {
        margin-left: -1rem;
        margin-right: -1rem;
        margin-bottom: -1rem;
    }
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: $blue;
}