nav {
    box-shadow: $box-shadow;
    &:hover {box-shadow: $box-shadow !important;}
    .search-form {
        margin-right: $spacer;
        input {
            width: 235px !important;
        }
        i{
            cursor: pointer;
            font-size: 1rem;
            padding: $spacer/2;
            position: absolute;
            margin-left: 200px;
        }
    }
    .search {
        margin-right: $spacer;
        padding: 0 $spacer;
        cursor: pointer;
        i {font-size: 1.5rem;}
    }
    @media (max-width:992px) {
        .navbar-nav {
            padding-left: 2rem !important;
        }
        .search {
            margin-left: auto;
        }
    }
    @media (min-width:992px) and (max-width:1170px) {
        .navbar-nav {
            position: absolute;
            top: 60px;
            z-index: 99;
            left: 0;
            width: 100%;
            background-color: #fff;
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        &.navbar {
            margin-bottom: 50px;
        }
        .form-inline {margin-left: auto;}
    }
}