.product-list {
    .media {
        img {height: 128px;}
        .media-body {
            img {
                height: 20px;
            }
            .rating {
                i {color: $yellow;}
                i.disabled {color: $gray-500}                    
            }
        }
    }
}