.select2-container {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    .select2-selection--single {
      box-sizing: border-box;
      display: block;
      height: 28px;
      cursor: pointer;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      .select2-selection__rendered {
        display: block;
        padding-right: 20px;
        padding-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .select2-selection__clear {
        position: relative;
      }
    }
    &[dir=rtl] .select2-selection--single .select2-selection__rendered {
      padding-right: 8px;
      padding-left: 20px;
    }
    .select2-selection--multiple {
      box-sizing: border-box;
      display: block;
      min-height: 32px;
      cursor: pointer;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      .select2-selection__rendered {
        display: inline-block;
        padding-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .select2-search--inline {
      float: left;
      .select2-search__field {
        box-sizing: border-box;
        padding: 0;
        margin-top: 5px;
        font-size: 100%;
        border: none;
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
    }
    .select2-primary .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-results__otption .select2-results__otption--highlighted {
      color: #fff;
      background: $primary;
      border-color: $primary;
    }
    .select2-primary .select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove, .select2-results__otption .select2-results__otption--highlighted .select2-selection__choice__remove {
      color: #fff;
    }
    .select2-success .select2-container--default .select2-selection--multiple .select2-selection__choice {
      color: #fff;
      background: #11c26d;
      border-color: #11c26d;
      .select2-selection__choice__remove {
        color: #fff;
      }
    }
    .select2-info .select2-container--default .select2-selection--multiple .select2-selection__choice {
      color: #fff;
      background: #0bb2d4;
      border-color: #0bb2d4;
      .select2-selection__choice__remove {
        color: #fff;
      }
    }
    .select2-warning .select2-container--default .select2-selection--multiple .select2-selection__choice {
      color: #fff;
      background: #eb6709;
      border-color: #eb6709;
      .select2-selection__choice__remove {
        color: #fff;
      }
    }
    .select2-danger .select2-container--default .select2-selection--multiple .select2-selection__choice {
      color: #fff;
      background: #ff4c52;
      border-color: #ff4c52;
      .select2-selection__choice__remove {
        color: #fff;
      }
    }
  }
  
  .select2-dropdown {
    position: absolute;
    left: -100000px;
    z-index: 1200;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.215rem;
  }
  
  .select2-results {
    display: block;
  }
  
  .select2-results__options {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .select2-results__option {
    padding: 6px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    &[aria-selected] {
      cursor: pointer;
    }
  }
  
  .select2-container--open {
    .select2-dropdown {
      left: 0;
    }
    .select2-dropdown--above {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .select2-dropdown--below {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  
  .select2-search--dropdown {
    display: block;
    padding: 4px;
    .select2-search__field {
      box-sizing: border-box;
      width: 100%;
      padding: 4px;
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
    &.select2-search--hide {
      display: none;
    }
  }
  
  .select2-close-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1800;
    display: block;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 0;
    opacity: 0;
  }
  
  .select2-hidden-accessible {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
  }
  
  .select2-container--default {
    display: block;
    .select2-selection {
      font-family: Roboto, sans-serif;
      font-size: 1rem;
      color: #76838f;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: .215rem;
      outline: 0;
    }
    .select2-search--dropdown .select2-search__field {
      font-family: Roboto, sans-serif;
      font-size: 1rem;
      color: #76838f;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.215rem;
    }
    .select2-search__field {
      outline: 0;
      &::-webkit-input-placeholder, &:-moz-placeholder {
        color: #a3afb7;
      }
      &::-moz-placeholder {
        color: #a3afb7;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: #a3afb7;
      }
    }
    .select2-results__option {
      &[role=group] {
        padding: 0;
      }
      &[aria-disabled=true] {
        color: #ced4da;
        cursor: not-allowed;
      }
      &[aria-selected=true] {
        color: #76838f;
        background-color: #f3f7f9;
      }
      .select2-results__option {
        padding: 0.429rem 1rem;
        .select2-results__group {
          padding-left: 0;
        }
        .select2-results__option {
          padding-left: 2rem;
          margin-left: -1rem;
          .select2-results__option {
            padding-left: 3rem;
            margin-left: -2rem;
            .select2-results__option {
              padding-left: 4rem;
              margin-left: -3rem;
              .select2-results__option {
                padding-left: 5rem;
                margin-left: -4rem;
                .select2-results__option {
                  padding-left: 6rem;
                  margin-left: -5rem;
                }
              }
            }
          }
        }
      }
    }
    .select2-results__option--highlighted[aria-selected] {
      color: #76838f;
      background-color: #f3f7f9;
    }
    .select2-results__group {
      display: block;
      padding: .429rem 1rem;
      font-size: .858rem;
      line-height: 1.57142857;
      color: #37474f;
      white-space: nowrap;
      cursor: default;
    }
    &.select2-container--open {
      .select2-selection {
        border-color: $primary;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px fade($primary, 0.6);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        .select2-selection__arrow b {
          border-color: transparent transparent #a3afb7;
          border-width: 0 0.286rem 0.286rem;
        }
      }
      &.select2-container--above .select2-selection {
        border-top-color: transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &.select2-container--below .select2-selection {
        border-bottom-color: transparent;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    &.input-lg, &.input-sm {
      height: auto;
      padding: 0;
      font-size: 12px;
      line-height: 1;
      border-radius: 0;
    }
    .select2-dropdown {
      margin-top: -1px;
      overflow-x: hidden;
      border-color: $primary;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }
    .select2-dropdown--above {
      margin-top: 1px;
    }
    .select2-results > .select2-results__options {
      max-height: 200px;
      overflow-y: auto;
    }
    .select2-selection--single {
      height: 2.573rem;
      padding: .429rem 1.858rem .429rem 1rem;
      line-height: 1.57142857;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.215rem;
      .select2-selection__rendered {
        padding: 0;
        color: #76838f;
      }
      .select2-selection__clear {
        float: right;
        margin-right: 10px;
        font-weight: 500;
        color: #a3afb7;
        cursor: pointer;
        &:hover {
          color: #333;
        }
      }
      .select2-selection__placeholder {
        color: #a3afb7;
      }
      .select2-selection__arrow {
        position: absolute;
        top: 0;
        right: 1rem;
        bottom: 0;
        width: 0.286rem;
        b {
          position: absolute;
          top: 50%;
          left: 0;
          width: 0;
          height: 0;
          margin-top: -.143rem;
          margin-left: -.286rem;
          border-color: #a3afb7 transparent transparent;
          border-style: solid;
          border-width: 0.286rem 0.286rem 0;
        }
      }
    }
    &[dir=rtl] .select2-selection--single {
      padding-right: 1rem;
      padding-left: 1.858rem;
      .select2-selection__clear {
        float: left;
      }
      .select2-selection__arrow {
        right: auto;
        left: 1rem;
      }
      .select2-selection__rendered {
        padding-right: 0;
        padding-left: 0;
        text-align: right;
      }
    }
    &.select2-container--disabled {
      .select2-selection--single {
        cursor: not-allowed;
        background-color: #f3f7f9;
        .select2-selection__clear {
          display: none;
        }
      }
      .select2-search__field {
        background-color: #f3f7f9;
      }
    }
  }
  
  .form-group-sm .select2-container--default .select2-selection--single, .input-group-sm .select2-container--default .select2-selection--single, .select2-container--default.input-sm .select2-selection--single {
    height: 2.288rem;
    padding: .429rem 1.716rem .429rem .858rem;
    font-size: .858rem;
    line-height: 1.5;
    border-radius: 0.143rem;
  }
  
  .form-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow b, .input-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow b, .select2-container--default.input-sm .select2-selection--single .select2-selection__arrow b {
    margin-left: -0.429rem;
  }
  
  .form-group-lg .select2-container--default .select2-selection--single, .input-group-lg .select2-container--default .select2-selection--single, .select2-container--default.input-lg .select2-selection--single {
    height: 3.2876666667rem;
    padding: .715rem 2.36rem .715rem 1.286rem;
    font-size: 1.286rem;
    line-height: 1.3333333333;
    border-radius: 0.286rem;
  }
  
  .form-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow, .input-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default.input-lg .select2-selection--single .select2-selection__arrow {
    width: 0.358rem;
  }
  
  .form-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow b, .input-group-lg .select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: -.179rem;
    margin-left: -.358rem;
    margin-left: -.715rem;
    border-width: 0.358rem 0.358rem 0;
  }
  
  .select2-container--default {
    &.input-lg .select2-selection--single .select2-selection__arrow b {
      margin-top: -.179rem;
      margin-left: -.358rem;
      margin-left: -.715rem;
      border-width: 0.358rem 0.358rem 0;
    }
    .select2-selection--multiple {
      cursor: text;
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.215rem;
      .select2-selection__rendered {
        box-sizing: border-box;
        width: 100%;
        padding: 0 5px;
        margin: 0;
        list-style: none;
        li {
          list-style: none;
        }
      }
      .select2-selection__placeholder {
        float: left;
        margin-top: 5px;
        color: #a3afb7;
      }
      .select2-selection__clear {
        float: right;
        margin-top: 5px;
        margin-right: 10px;
        font-weight: 700;
        cursor: pointer;
      }
      .select2-selection__choice {
        float: left;
        padding: 0 .429rem;
        margin: .3rem 0 0 .5rem;
        color: #76838f;
        cursor: default;
        background: #ced4da;
        border: 1px solid #ced4da;
        border-radius: 0.215rem;
      }
      .select2-selection__choice__remove {
        display: inline-block;
        margin-right: .2145rem;
        font-weight: 500;
        color: #999;
        cursor: pointer;
        &:hover {
          color: #333;
        }
      }
    }
    &[dir=rtl] .select2-selection--multiple {
      .select2-search--inline, .select2-selection__choice, .select2-selection__placeholder {
        float: right;
      }
      .select2-selection__choice {
        margin-right: .5rem;
        margin-left: 0;
      }
      .select2-selection__choice__remove {
        margin-right: auto;
        margin-left: 2px;
      }
    }
    &.select2-container--focus .select2-selection--multiple {
      border: solid $primary 1px;
      outline: 0;
    }
    &.select2-container--disabled {
      .select2-selection--multiple {
        cursor: not-allowed;
        background-color: #f3f7f9;
      }
      .select2-selection__choice__remove {
        display: none;
      }
    }
  }
  
  .form-group-sm .select2-container--default .select2-selection--multiple, .input-group-sm .select2-container--default .select2-selection--multiple, .select2-container--default.input-sm .select2-selection--multiple {
    min-height: 2.288rem;
  }
  
  .form-group-sm .select2-container--default .select2-selection--multiple .select2-selection__choice, .input-group-sm .select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default.input-sm .select2-selection--multiple .select2-selection__choice {
    padding: 0 .429rem;
    margin: .357rem 0 0 .429rem;
    font-size: .858rem;
    line-height: 1.5;
  }
  
  .form-group-sm .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field, .input-group-sm .select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field {
    height: 2.145rem;
    padding: 0 .858rem;
    font-size: .858rem;
    line-height: 1.5;
  }
  
  .select2-container--default {
    &.input-sm .select2-selection--multiple .select2-search--inline .select2-search__field {
      height: 2.145rem;
      padding: 0 .858rem;
      font-size: .858rem;
      line-height: 1.5;
    }
    &.input-lg.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #a3afb7;
      border-width: 0 0.358rem 0.358rem;
    }
  }
  
  .input-group-lg .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #a3afb7;
    border-width: 0 0.358rem 0.358rem;
  }
  
  .input-group .select2-container--default {
    position: relative;
    z-index: 2;
    display: table;
    float: left;
    width: 100%;
    margin-bottom: 0;
    table-layout: fixed;
  }
  
  .has-warning {
    .select2-dropdown, .select2-selection, .select2-container--open .select2-selection {
      border-color: #eb6709;
    }
    &.select2-drop-active {
      border-color: #eb6709;
      &.select2-drop.select2-drop-above {
        border-top-color: #eb6709;
      }
    }
  }
  
  .has-error {
    .select2-dropdown, .select2-selection, .select2-container--open .select2-selection {
      border-color: #ff4c52;
    }
    &.select2-drop-active {
      border-color: #ff4c52;
      &.select2-drop.select2-drop-above {
        border-top-color: #ff4c52;
      }
    }
  }
  
  .has-success {
    .select2-dropdown, .select2-selection, .select2-container--open .select2-selection {
      border-color: #11c26d;
    }
    &.select2-drop-active {
      border-color: #11c26d;
      &.select2-drop.select2-drop-above {
        border-top-color: #11c26d;
      }
    }
  }
  
  .modal-open .select2-container {
    z-index: 1701;
  }